// Style files in the pods folder are automatically loaded in.
@import 'pod-styles';

@font-face {
  font-family: 'Quantico';
  src: url('fonts/Quantico/Quantico-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Quantico-bold';
  src: url('fonts/Quantico/Quantico-Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Show page
.header {
  background-color: #194a5f;
  height: 65px;
  display: flex;
  font-family: 'Quantico';
  padding: 0 20px;
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.header-item {
  margin: 0 7px;
  color: white;
}

.angle {
  font-size: 28px;
}

.link-image {
  max-width: 40px;
  max-height: 40px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #12303f;
  font-family: 'Quantico-bold';
  font-size: 22px;
  margin: 15px 27px;
}

.buttons {
  display: flex;
  align-items: center;
  font-family: 'Quantico-bold';
  text-transform: uppercase;
}

.button {
  text-align: center;
  line-height: 30px;
  width: 140px;
  height: 30px;
  border: solid 1px #3d99b8;
  color: #3d99b8;
  margin: 0 10px;
  cursor: pointer;

  &--secondary {
    background-color: #3d99b8;
    color: #fff;
  }
}