<table data-test-table='body' class='table'>
  <th class='table-row table-row--header'>
    <td class='table-cell table-cell--primary' />
    {{#each @product.fieldNames as |fieldName|}}
      <td class='table-cell'>{{fieldName}}</td>
    {{/each}}
  </th>
  {{#each @productData as |data index|}}
    <tr class='table-row'>
      <td class='table-cell table-cell--primary'>{{add index 1}}</td>
      {{#each-in data as |title value|}}
        <td class='table-cell'>{{value}}</td>
      {{/each-in}}
    </tr>
  {{/each}}

  {{#if @withFooter}}
    <div data-test-table='footer' class='table-footer'>sample rows</div>
  {{/if}}
</table>