.header {
  background-color: $dark-turquoise;
  height: 9vh;
  display: flex;
  font-family: $quantico;
  padding: 0 20px;

  &--large {
    height: 12vh;
  }
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.header-item {
  margin: 0 7px;
  color: $white;
}

.angle {
  font-size: 28px;
}

.link-image {
  max-width: 40px;
  max-height: 40px;

  &--large {
    max-width: 60px;
    max-height: 60px;
  }
}