.sidebar-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: solid 0.5px $light-grey;
}

.item-name {
  font-family: $quantico-bold;
  font-size: 12px;
  color: $dark-grey;
  text-transform: uppercase;
}

.item-value {
  font-family: $quantico;
  font-size: 14px;
  color: $dark-turquoise;
  text-transform: capitalize;
}

.info {
  color: $turquoise;
}