.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 0.5px $light-grey;
  padding: 0 27px;
  background-color: $white;
}

.title {
  color: $dark-turquoise;
  font-family: $quantico-bold;
  font-size: 22px;
  margin: 2vh 0;
}
