<div data-test-sidebar-item='main' class='sidebar-item'>
  <div data-test-sidebar-item='name' class='item-name'>{{@name}} {{fa-icon 'info-circle' class='info'}}</div>
  <div data-test-sidebar-item='value' class='item-value'>{{@value}}</div>
</div>
