.tab {
  font-size: 14px;
  line-height: 7vh;
  height: 7vh;
  width: 120px;
  color: $dark-grey;
  text-align: center;
  cursor: pointer;

  &--active {
    color: $turquoise;
    border-bottom: solid 3px $turquoise;
  }
}
