@font-face {
  font-family: 'Quantico';
  src: url('fonts/Quantico/Quantico-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Quantico-bold';
  src: url('fonts/Quantico/Quantico-Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url('fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Source-Sans-Pro-bold';
  src: url('fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
