// Colours
$dark-grey: #a0a3a7;
$dark-turquoise: #194a5f;
$extra-dark-turquoise: #0e3244;
$green: #4eb088;
$light-grey: #eaeaea;
$pale-blue: #f6fafd;
$turquoise: #3d99b8;
$white: #fff;

// Fonts
$quantico: 'Quantico';
$quantico-bold: 'Quantico-bold';
$source-sans-pro: 'Source-Sans-Pro';
$source-sans-pro-bold: 'Source-Sans-Pro-bold';
