<div data-test-header='main' class='header {{if @isLarge "header--large link-wrapper" ""}}'>
  {{#if @isLarge}}
    <img data-test-header='image' class='link-image link-image--large header-item' src='/assets/avatar.png' alt='3 bars'>
    <div class='header-item header-item--large'>Data Publisher</div>
  {{else}}
    {{#link-to 'products' class='link-wrapper'}}
      {{fa-icon 'angle-left' class='angle header-item'}}
      <img data-test-header='image' class='link-image header-item' src='/assets/avatar.png' alt='quandl logo'>
      <div class='header-item'>Data Publisher</div>
    {{/link-to}}
  {{/if}}
</div>
