<div data-test-nav-bar='main' class='nav-bar'>
  <div class='nav-block'>
    {{fa-icon 'bars' class='bars nav-item'}}
    <div class='nav-item'>alternative data</div>
    <div class='nav-item nav-item--active'>core fincancial data</div>
  </div>

  <img src='/assets/quandl-logo.svg' alt="quandl logo" class='logo'>

  <div class='nav-block'>
    <div class='nav-item'>docs & help</div>
    <div class='nav-item'>blog</div>
    <div class='nav-item'>sign in</div>
  </div>
</div>
