<div
  data-test-button='main'
  class="button
         {{if @isSecondary "button--secondary"}}
         {{if @fullWidth "button--full-width"}}
         {{if @hasIcon "button--icon"}}
         "
>
  {{yield}}
</div>